@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@font-face {
    font-family: 'FonteTitulo';
    src: url(/fontes/Ubuntu-Regular.ttf);
}

header {
    font-family: 'FonteTitulo';
    font-size: 30px;
    color: rgb(13, 84, 141);
}

h2 {
    font-family: 'FonteTitulo';
}

body{
    background-color: lightblue;
}