@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: 'FonteSubtitulos';
    src: url(/fontes/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'FonteTexto';
    src: url(/fontes/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: 'FonteTitulo';
    src: url(/fontes/Lobster-Regular.ttf);
}

header {
    font-family: 'FonteTitulo';
    font-size: 40px;
    color: rgb(13, 84, 141);
}

.subtitulo {
    font-family: 'FonteSubtitulos';
}

body {
    background-color: lightblue;
}

.texto {
    font-family: 'FonteTexto';
    font-size: 20px;
}

.foto {
    
    border-radius: 500px;
}