@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: 'SubtitleFont';
    src: url(/fontes/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'TextFont';
    src: url(/fontes/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: 'TitleFont';
    src: url(/fontes/Lobster-Regular.ttf);
}

header {
    font-family: 'TitleFont';
    color: rgb(13, 84, 141);
    background-color: aliceblue;
    margin-top: 0%;
    padding: 20px 20px 20px 40px;
}

header h1{
    font-size: 50pt;
}

.subtitle {
    font-family: 'SubtitleFont';
    background-color: rgba(122, 122, 235, 0.3);
}

body {
    background-color: lightblue;
}

.text {
    font-family: 'TextFont';
    font-size: 20px;
}

.photo {
    border-radius: 500px;
}

.address{
    border: solid rgb(34, 140, 201);
    margin-top: 2%;
}

.contact-image{
    margin-left: 2%;

}

.contact{
    text-align: center;
}


.img-certificate{
    height: 400px;
    width: 600px;
    padding: 0px;
    border: 10px solid white;
    border-spacing: auto;
}

.bt{
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor: pointer;
    font-family: 'SubtitleFont';
    font-weight:bold;
    font-size:13px;
    padding:6px 13px;
    text-decoration:none;
    background: linear-gradient(to bottom, #5ea8a8 5%, #5c56b4  100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color:#fff;
    text-shadow:0px 1px 0px #528009;
}


.subtitle-certificate{
    font-family: 'SubtitleFont';
}

.images-certificate{
    text-align: center;
}






